<% include layout/header %>

<div class="px-8 py-4 flex-1">
  <div class="float-right mb-4">
    <form
      action="/users"
      method="get"
      class="flex items-center gap-2 justify-center filter"
    >
      <input
        class="border border-gray-400 rounded-md py-1 px-2 cursor-pointer"
        type="date"
        name="dateStart"
        id="dateStart"
        value="<%= filter.dateStart %>"
      />
      <input
        class="border border-gray-400 rounded-md py-1 px-2 cursor-pointer"
        type="date"
        name="dateEnd"
        id="dateEnd"
        value="<%= filter.dateEnd %>"
      />
      <button
        type="submit"
        class="bg-blue-500 rounded-md px-3 py-1 text-white flex items-center gap-2 justify-center filter-btn"
      >
        Filter
        <div
          class="loading-filter inline-block hidden h-3 w-3 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
          role="status"
        ></div>
      </button>
    </form>
    <p class="filter-error text-red-500"></p>
  </div>
  <table id="myTable" class="display !table-auto">
    <thead>
      <tr>
        <th class="!text-left">#</th>
        <th>Name</th>
        <th class="!text-left">Phone Number</th>
        <th>Email</th>
        <th class="!text-left">Age</th>
        <th class="!text-left">Address</th>
        <th>Gender</th>
        <th>Office</th>
        <th>Position</th>
        <th class="!text-left">Start Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < data.length; i++) { %>
      <tr>
        <td class="!text-left">
          <span class="w-2 block"><%= i + 1 %></span>
        </td>
        <td>
          <div class="tooltip">
            <span class="w-32 line-clamp-1"> <%= data[i].name %> </span>
            <span class="tooltiptext"><%= data[i].name %></span>
          </div>
        </td>
        <td class="!text-left w-120px]">
          <div class="tooltip">
            <span class="w-120px] line-clamp-1">
              <%= data[i].phoneNumber %>
            </span>
            <div class="tooltiptext"><%= data[i].phoneNumber %></div>
          </div>
        </td>
        <td>
          <div class="tooltip">
            <span class="w-36 line-clamp-1"><%= data[i].email %> </span>
            <span class="tooltiptext"> <%= data[i].email %> </span>
          </div>
        </td>
        <td class="!text-left"><%= data[i].age %></td>
        <td class="w-26">
          <div class="tooltip">
            <span class="w-32 line-clamp-1"><%= data[i].address %> </span>
            <span class="tooltiptext"> <%= data[i].address %> </span>
          </div>
        </td>
        <td><%= capitalizeText(data[i].gender) %></td>
        <td>
          <div class="tooltip">
            <span class="w-26 line-clamp-1"> <%= data[i].office %> </span>
            <span class="tooltiptext"> <%= data[i].office %> </span>
          </div>
        </td>
        <td>
          <div class="tooltip">
            <span class="w-26 line-clamp-1"><%= data[i].position %> </span>
            <span class="tooltiptext"> <%= data[i].position %> </span>
          </div>
        </td>
        <td class="!text-left">
          <span class="w-[90px] line-clamp-1">
            <%= formatDate(data[i].startDate, 'DD-MM-YYYY') %>
          </span>
        </td>
        <td>
          <div class="flex items-center gap-2">
            <a
              href="/users/edit/<%= data[i].id %>"
              class="text-white bg-blue-500 py-1 w-16 px-2 rounded-md flex items-center gap-2 justify-center hover:text-white edit-anchor"
            >
              Edit
              <div
                class="loading-edit inline-block hidden h-3 w-3 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
                role="status"
              ></div>
            </a>
            <form
              action="/users/delete?_method=DELETE"
              method="post"
              class="del"
            >
              <input type="hidden" name="id" value="<%= data[i].id %>" />
              <button
                type="submit"
                class="text-white bg-red-500 w-20 py-1 px-2 rounded-md flex items-center gap-2 justify-center del-btn"
              >
                Delete
                <div
                  class="loading-del inline-block hidden h-3 w-3 animate-spin rounded-full border-2 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
                  role="status"
                ></div>
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<script src="/javascripts/index.js"></script>

<% include layout/footer %>
